@import "tailwindcss";


body{
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}



.quantico-regular {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quantico-bold {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quantico-regular-italic {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.quantico-bold-italic {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: italic;
}


.font-dancing {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.font-dancing-bold {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}




.playfair-display-sc-regular {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-sc-bold {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
}

.playfair-display-sc-black {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: normal;
}

.playfair-display-sc-regular-italic {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: italic;
}

.playfair-display-sc-bold-italic {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: italic;
}

.playfair-display-sc-black-italic {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: italic;
}

